/*
双飞翼栅格布局 Flying Swing Grids Layout
理念：简单质朴，语义化布局。
维护：玉伯<lifesinger@gmail.com>, 正淳<ragecarrier@gmail.com>
*/

/* 居中 */
#header, #content, #footer {
    margin-left: auto;
    margin-right: auto;
}

/** 布局基础样式 **/
.col-main {
    float: left;
    width: 100%;
    /* bug fix: 主栏没有内容时，在 Firefox 和 Chrome 等浏览器下，布局不对 */
    min-height: 1px;
}
.col-sub, .col-extra {
    float: left;
    /*position: relative;  按需设置，仅在需要时添加 */
}

/** 清除浮动 **/
.layout:after, .main-wrap:after, .col-sub:after, .col-extra:after {
	content: '\20';
	display: block;
	height: 0;
	clear: both;
}
.layout, .main-wrap, .col-sub, .col-extra {
    *zoom: 1;
}

/** 两栏布局 **/
.grid-s5m0 .main-wrap { margin-left: 427px; }
.grid-s5m0 .col-sub { width: 427px; margin-left: -100%; }


a, a:hover {
	text-decoration:none;
}

#Bg_Wrapper {
	overflow:hidden;
}

#Bg {
	line-height:0px;
	font-size:0px;
}

#Bg li {
	float:left;
	line-height:0px;
	font-size:0px;
}

#Bg img {
	-moz-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
}


#Footer {
	position:fixed;
	left:0px;
	bottom:0px;
	height:30px;
	width:100%;
}

#Name, #Category, #About, #Contact {
	float:left;
	height:30px;
	width:123px; 
	margin-right:1px;
}

#Name {
	background:url(../img/icon1.png) no-repeat -313px 0;
}

#Category, #About, #Contact{
	width:100px;
}

#Category a {
	display:block;
	width:100px;
	height:30px;
	background:url(../img/icon1.png) no-repeat 0 0;
	cursor:pointer;
}

#Category a:hover {
	background:url(../img/icon1.png) no-repeat 0 -32px;
}

#Contact a {
	display:block;
	width:100px;
	height:30px;
	background:url(../img/icon1.png) no-repeat -208px 0;
	cursor:pointer;
}

#Contact a:hover {
	background:url(../img/icon1.png) no-repeat -208px -32px;
}

#About a {
	display:block;
	width:100px;
	height:30px;
	background:url(../img/icon1.png) no-repeat -103px 0;
	cursor:pointer;
}

#About a:hover {
	background:url(../img/icon1.png) no-repeat -103px -32px;
}

#Copyright {
	background:url(../img/bg1.png) repeat 0 0;
	width:100%;
	color:#fff;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	height: 25px;
	padding-top: 5px;
}

#Copyright .copy {
	text-align:right;
	margin-right:10px;
}
#J_Pop {
	position:absolute;
	background:url(../img/bg1.png) repeat 0 0;
	left:0;
	top:0;
}

#J_Pop_About, #J_Pop_Contact {
	display:none;
	position:absolute;
	left:0;
	top:0;
	padding-left:40px;
	font-size:15px;
	font-family: 'Open Sans', sans-serif;
	color:#fff;
	opacity:0;
	filter:alpha(opacity=0);
}

#J_Pop_Contact .title {
	margin-top:150px;
	font-size:25px;
	font-weight:400;
}

#J_Pop_Contact .name {
	margin-top:33px;
	font-size:18px;
}

#J_Pop_Contact .tele .logo {
	background:url(../img/icon2.png) no-repeat -271px -64px;
	width:25px;
	height:26px;
	margin-top:15px;
}

#J_Pop_Contact .tele .tele1 {
	margin-top:15px;
}

#J_Pop_Contact .email .logo {
	background:url(../img/icon2.png) no-repeat -315px -64px;
	width:25px;
	height:18px;
	margin-top:30px;
}

#J_Pop_Contact .email .email1 {
	margin-top:15px;
}

#J_Pop_Contact .desc {
	margin-top:16px;
	width:530px;
	letter-spacing:0px;
}

#J_Pop_Contact .ways {
	height:57px;
	width:660px;
}

#J_Pop_Contact .ways .fleft {
	float:left;
	margin-right:40px;
}

#J_Pop_Contact .ways .flickr {
	width:85px;
	height:26px;
	margin-top:60px;
}

#J_Pop_Contact .ways .flickr a {
	display:block;
	background:url(../img/icon2.png) no-repeat -114px 0;
	width:85px;
	height:26px;
}
#J_Pop_Contact .ways .flickr a:hover {
	background:url(../img/icon2.png) no-repeat -114px -31px;
}

#J_Pop_Contact .ways .facebook {
	width:100px;
	height:23px;
	margin-top:62px;
}

#J_Pop_Contact .ways .facebook a {
	display:block;
	background:url(../img/icon2.png) no-repeat 0 0;
	width:100px;
	height:23px;
}
#J_Pop_Contact .ways .facebook a:hover {
	background:url(../img/icon2.png) no-repeat 0 -31px;
}

#J_Pop_Contact .ways .moko {
	width:60px;
	height:57pxpx;
	margin-top:28px;
}

#J_Pop_Contact .ways .moko a {
	display:block;
	background:url(../img/icon2.png) no-repeat -216px 0;
	width:60px;
	height:57px;
}
#J_Pop_Contact .ways .moko a:hover {
	background:url(../img/icon2.png) no-repeat -283px 0px;
}
#J_Pop_Contact .ways .weibo {
	width:120px;
	height:37pxpx;
	margin-top:48px;
}

#J_Pop_Contact .ways .weibo a {
	display:block;
	background:url(../img/icon2.png) no-repeat 0 -64px;
	width:120px;
	height:37px;
}

#J_Pop_Contact .ways .weibo a:hover {
	background:url(../img/icon2.png) no-repeat -130px -64px;
}

#J_Pop_About .title {
	margin-top:25px;
}

#J_Pop_About .title span {
	font-size:25px;
	font-weight:400;
	padding-right:34px;
}

#J_Pop_About .desc {
	margin-top:18px;
	width:530px;
}
#J_Pop_About .desc a {
	color:#fff;
	text-decoration:underline;
}

#J_Pop_About .desc a:hover {
	color:#3399ff;
}

#J_Pop_Close {
	position:absolute;
	top:10px;
	right:10px;
	width:35px;
	height:35px;
}

#J_Pop_Close a {
	display:block;
	width:35px;
	height:35px;
	background:url(../img/icon1.png) no-repeat -146px -66px;
	cursor:pointer;
}

#J_Pop_Close  a:hover {
	background:url(../img/icon1.png) no-repeat -196px -66px;
}

#Category.highlight {
	background:url(../img/icon1.png) no-repeat 0 -32px;
}

#About.highlight {
	background:url(../img/icon1.png) no-repeat -103px -32px;
}

#Contact.highlight {
	background:url(../img/icon1.png) no-repeat -208px -32px;
}

#left_btn {
	display:block;
	position:fixed;
	width:30px;
	height:70px;
	top:45%;
	left:20px;
}

 #left_btn a{
	display:block;
	width:30px;
	height:70px;
	background:url(../img/icon1.png) no-repeat 0 -66px;
	cursor:pointer;
}

#left_btn a:hover {
	background:url(../img/icon1.png) no-repeat -33px -66px;
}

 #right_btn {
	display:block;
	position:fixed;
	width:30px;
	height:70px;
	top:45%;
	right:20px;
}

 #right_btn  a{
	display:block;
	width:30px;
	height:70px;
	background:url(../img/icon1.png) no-repeat -68px -66px;
	cursor:pointer;
}

 #right_btn  a:hover {
	background:url(../img/icon1.png) no-repeat -103px -66px;
}

#CategoryMenu {
	position:absolute;
	bottom:31px;
	left:124px;
	background:url(../img/bg3.png) repeat 0 0;
	width:150px;
	padding:5px 0;
}

#CategoryMenu ul li {
	height:27px;
	padding-top:5px;
	width:150px;
	font-family: 'Open Sans', sans-serif;
	color:#fff;
	font-size:16px;
	text-align:center;
	cursor:pointer;
}

#J_Big_Hover {
	position:absolute;
	background:url('../img/icon1.png') no-repeat 0 -202px;
	width:134px;
	height:32px;
	top:5px;
	left: 8px;
	cursor:pointer;
	z-index:45;
}

#Thumbnail {
	 position:absolute; 
	 background:url(../img/icon1.png) no-repeat 0 -145px;
	 top:130px;
	 right:50px;
	 width:390px; 
	 height:50px;
	 cursor:move;
}

#Thumbnail #Thumbnail_Center {
	position:relative;
	float:left;
	margin:0px;
	height:50px;
	width:361px;
	overflow:hidden;
}

#Thumbnail  #Thumbnail_Wrapper {
	position:relative;
	overflow:hidden;
	width:360px;
	height:40px;
	margin-top:5px;
	margin-left:1px;
}

#Thumbnail  ul {
	height:40px;
}

#Thumbnail  ul li {
	float:left;
	width:45px;
	height:40px;
	cursor:pointer;
}


#Thumbnail  ul li img {
	margin-left:2px;
	width:40px;
	height:40px;
	-moz-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
}

#Thumbnail #Thumbnail_Left  {
	float:left;
	margin: 15px 2px 0 2px;
	width:10px;
	height:20px;
}
#Thumbnail #Thumbnail_Left  a {
	display:block;
	background:url(../img/icon1.png) no-repeat -323px -86px;
	width:10px;
	height:20px;
	cursor:pointer;
}

#Thumbnail #Thumbnail_Left  a:hover {
	background:url(../img/icon1.png) no-repeat -340px -86px;
}

#Thumbnail #Thumbnail_Right  {
	float:left;
	margin-left:3px;
	margin-top:15px;
	width:10px;
	height:20px;
}
#Thumbnail #Thumbnail_Right  a {
	display:block;
	background:url(../img/icon1.png) no-repeat -358px -86px;
	width:10px;
	height:20px;
	cursor:pointer;
}

#Thumbnail #Thumbnail_Right  a:hover {
	background:url(../img/icon1.png) no-repeat -375px -86px;
}

#Thumbnail #J_Small_Hover {
	background:url(../img/icon1.png) no-repeat -254px -74px;
	position:absolute;
	top:2px;
	left:0px;
	width:46px;
	height:46px;
	z-index:99;
}

